<template>
	<div class="about">
		<h1>This is an about page</h1>
		<hello-world></hello-world>
		<div>
			<a href="">Web1</a>
			<a href="">Web2</a>
			<div id="sss">
				<a href="">Web3</a>
				<a href="">Web4</a>
				<a href="">Web6</a>
				<a href="">Web7</a>
				<a href="">Web8</a>
				<div class="web">
					<a href="">Web5</a>
				</div>
			</div>
		</div>
	</div>
</template>

<script lang="ts">
import Vue from 'vue';
import Component from 'vue-class-component';
import HelloWorld from '@/components/HelloWorld.vue';

@Component({
	components: {
		HelloWorld,
	},
})
export default class About extends Vue {
	//VERIFY:
}
</script>

<style lang="scss" scoped>
//scoped - týká se pouze doslovných elementu (div, a, ...). Komponenty automaticky prohledá bez slova scoped
.web a {
}
.about {
	div {
		//border: 1px solid green;
		a {
			text-decoration: none;
		}
		#sss {
			a:last-child {
				color: blue !important;
				// !important - zvýší prioritu
			}
			.web {
				a {
					color: indigo !important;
				}
			}
		}
	}
}
</style>
