<template>
	<div class="home mx-15">
		<h1>This is an home page</h1>
		<h2>Hi {{ fullName }}</h2>
		<v-divider class="mb-7"></v-divider>
		<v-chip v-for="(value, index) in values" :key="index" :color="colors[index]">
			{{ value }}
		</v-chip>

		<v-text-field label="Name" v-model="n">
			<!-- comment -->
		</v-text-field>
		<v-text-field label="Surname" v-model="s"> </v-text-field>
		<v-btn @click="save" color="warning">Save</v-btn>

		<v-sheet>
			{{ fullNameGet }}
		</v-sheet>
	</div>
</template>

<script lang="ts">
import Vue from 'vue';
import Component from 'vue-class-component';
import { getterTypes, actionTypes, mutationTypes } from '@/store/types';
import { Getter, Action, Mutation } from 'vuex-class';

@Component({
	components: {},
})
export default class Home extends Vue {
	@Getter(getterTypes.FULL_NAME) fullName: string;
	@Getter(getterTypes.NAME) name: string;
	@Getter(getterTypes.SURNAME) surname: string;
	@Getter(getterTypes.VALUES) values: string[];
	@Action(actionTypes.CHANGE_NAME) changeName: any;
	@Action(actionTypes.CHANGE_SURNAME) changeSurname: any;
	@Mutation(mutationTypes.CHANGE_SURNAME) changeSurnameM: any;

	n = '';
	s = '';
	// one row comment

	/*
	many rows comment 
	*/

	colors = ['red', 'blue', 'green', 'pink'];

	save() {
		this.changeName(this.n);
		this.changeSurnameM(this.s);
	}

	get fullNameGet() {
		return this.colors.filter((c) => c === this.n);
	}
}
</script>
