<template>
	<div>
		<v-form ref="formNews">
			<v-container>
				<v-row>
					<v-col cols="12" md="6">
						<v-text-field v-model="interpret" label="Interpret" required></v-text-field>
					</v-col>

					<v-col cols="12" md="6">
						<v-text-field v-model="song" label="Název píšničky" required></v-text-field>
					</v-col>
					<v-col cols="12" md="6">
						<v-text-field v-model="url" label="URL Album"></v-text-field>
					</v-col>
					<v-col cols="12" md="6">
						<v-rating
							color="red"
							background-color="red"
							empty-icon="far fa-heart"
							full-icon="fas fa-heart"
							length="5"
							size="64"
							v-model="rating"
						></v-rating>
					</v-col>
					<v-btn block @click="save" color="warning">Save</v-btn>
				</v-row>
			</v-container>
		</v-form>
		<interpret-card
			v-for="(d, index) in data"
			:key="index"
			:interpretData="d"
			:barva="colors[d.id]"
			@trash="del"
		/>
	</div>
</template>

<script lang="ts">
/* eslint-disable @typescript-eslint/no-var-requires */
import Vue from 'vue';
import Component from 'vue-class-component';
import {
	getterTypes as test1GetterTypes,
	mutationTypes as test1MutationTypes,
} from '@/store/Test1/types';
import { moduleTypes } from '@/store/types';
import { namespace, Getter, Mutation } from 'vuex-class';
import { InterpretData } from '@/models';
import InterpretCard from '@/components/InterpretCard.vue';

const randomColor = require('randomcolor');

const test1Namespace = namespace(moduleTypes.TEST1);

@Component({
	components: {
		InterpretCard,
	},
})
export default class Test1 extends Vue {
	//getter, actions, mutatuons (state)
	//props
	//var
	//lokální get, watcher
	//funkce
	@test1Namespace.Getter(test1GetterTypes.INTERPRETSDATA) data: InterpretData[];
	@test1Namespace.Mutation(test1MutationTypes.INSERTINTERPRETDATA) insdata: any;
	@test1Namespace.Mutation(test1MutationTypes.REMOVEINTERPRETDATA) remdata: any;
	rating = 1;
	interpret = '';
	song = '';
	url = '';
	colors: string[] = randomColor({ luminosity: 'light', hue: 'blue', count: 5 });

	save() {
		if ((this.$refs.formNews as Vue & { validate: () => boolean }).validate()) {
			const newInterpret: InterpretData = new InterpretData({
				id: (this.data.length + 1).toString(),
				interpret: this.interpret,
				song: this.song,
				URLLink: this.url,
				rating: this.rating,
			});
			this.insdata(newInterpret);
		}
	}
	del(id: string) {
		this.remdata(id);
	}
}
</script>
