<template>
	<v-card class="mx-auto elevation-20" :color="barva" dark style="max-width: 400px">
		<v-row justify="space-between">
			<v-col cols="8">
				<v-card-title>
					<div>
						<div class="headline">{{ interpretData.song }}</div>
						<div>{{ interpretData.interpret }}</div>
					</div>
				</v-card-title>
			</v-col>
			<v-col cols="4">
				<v-img
					class="shrink ma-2"
					contain
					height="125px"
					:src="interpretData.URLLink"
					style="flex-basis: 125px"
				></v-img>
			</v-col>
		</v-row>
		<v-divider dark></v-divider>
		<v-card-actions class="pa-4">
			<v-btn class="pa-4" color="error" @click="del">
				<v-sheet color="transparent" class="pb-1">
					<v-icon small> fas fa-trash-alt </v-icon>
				</v-sheet>
				<v-sheet color="transparent" class="pl-3">Delete</v-sheet>
			</v-btn>
			<v-spacer></v-spacer>
			<span class="grey--text text--lighten-2 caption mr-2">
				({{ interpretData.rating }})
			</span>
			<v-rating
				:value="interpretData.rating"
				color="red"
				background-color="red"
				empty-icon="far fa-heart"
				full-icon="fas fa-heart"
				readonly
				dense
				hover
				size="18"
			></v-rating>
		</v-card-actions>
	</v-card>
</template>

<script lang="ts">
import Vue from 'vue';
import Component from 'vue-class-component';
import { Prop } from 'vue-property-decorator';
import { InterpretData } from '@/models';

@Component({
	components: {},
})
export default class InterpretCard extends Vue {
	@Prop({ required: true }) interpretData: InterpretData;
	//required chyba, pokud tam nic není
	@Prop({ default: 'green' }) barva: string;
	del() {
		this.$emit('trash', this.interpretData.id);
	}
}
</script>
