<template>
	<v-form v-model="valid" ref="formLog">
		<v-row justify="center">
			<v-dialog v-model="dialog" persistent max-width="600px">
				<template v-slot:activator="{ on, attrs }">
					<v-btn
						color="primary"
						fab
						bottom
						fixed
						right
						dark
						@click="logout"
						style="bottom: 40px"
						v-if="loged"
					>
						<v-icon>fas fa-door-open</v-icon>
					</v-btn>
					<v-btn
						color="primary"
						fab
						bottom
						fixed
						right
						dark
						v-bind="attrs"
						v-on="on"
						style="bottom: 140px"
						v-if="!loged"
					>
						<v-icon>fa-user-lock</v-icon>
					</v-btn>
				</template>
				<v-card>
					<v-card-title>
						<span class="headline">Login</span>
					</v-card-title>
					<v-card-text>
						<v-container>
							<v-row>
								<v-col cols="12" sm="6" md="4">
									<v-text-field
										v-model="email"
										label="Email"
										required
										type="email"
									></v-text-field>
								</v-col>
								<v-col cols="12">
									<v-text-field
										v-model="password"
										:append-icon="showpass ? 'fa-eye' : 'fa-eye-slash'"
										label="Password*"
										:type="showpass ? 'text' : 'password'"
										required
										@click:append="showpass = !showpass"
									></v-text-field>
								</v-col>
							</v-row>
						</v-container>
					</v-card-text>
					<v-card-actions>
						<v-spacer></v-spacer>
						<v-btn color="blue darken-1" text @click="dialog = false"> Close </v-btn>
						<v-btn color="blue darken-1" text @click="login"> Log-in </v-btn>
					</v-card-actions>
				</v-card>
			</v-dialog>
		</v-row>
	</v-form>
</template>

<script lang="ts">
import Vue from 'vue';
import Component from 'vue-class-component';
import FirebaseService from '@/services/FireBase';
import firebase from 'firebase';
import {
	getterTypes as userDataGetterTypes,
	mutationTypes as userDataMutationTypes,
} from '@/store/UserData/types';
import { namespace, Getter, Mutation } from 'vuex-class';
import { moduleTypes } from '@/store/types';

const userNamespace = namespace(moduleTypes.USERDATA);

@Component({
	components: {},
})
export default class LoginForm extends Vue {
	@userNamespace.Getter(userDataGetterTypes.ISLOGED) loged: boolean;
	@userNamespace.Mutation(userDataMutationTypes.SET_USER_INFO) storeEmail: any;
	email = '';
	password = '';
	dialog = false;
	valid = false;
	showpass = false;

	async login() {
		if ((this.$refs.formLog as Vue & { validate: () => boolean }).validate()) {
			await FirebaseService.login(this.email, this.password)
				.then((response) => {
					this.storeEmail(this.email);
					this.email = '';
					this.password = '';
					this.dialog = false;
					console.log(response);
				})
				.catch((error) => {
					console.log(error);
					switch (error.code) {
						case 'auth/user-not-found':
							//this.errorMsg = this.$t(error.code);
							this.$toast.error(error.message);
							break;
						case 'auth/wrong-password':
							//this.errorMsg = this.$t(error.code);
							this.$toast.error(error.message);
							break;
						default:
							//this.errorMsg = this.$t('login.unsuccessful');
							this.$toast.error('Login failed.');
							break;
					}
				});
		}
	}
	async logout() {
		await FirebaseService.logout().then(() => {
			this.storeEmail('');
			window.location.reload();
		});
	}

	mouted() {
		console.log(FirebaseService.actualUser());
		//
	}

	//mounted() {}
}
</script>
