<template>
	<v-form v-model="valid" ref="formRegs">
		<v-row justify="center">
			<v-dialog v-model="dialog" persistent max-width="600px">
				<template v-slot:activator="{ on, attrs }">
					<v-btn
						color="primary"
						fab
						bottom
						fixed
						right
						dark
						v-bind="attrs"
						v-on="on"
						style="bottom: 40px"
						v-if="!loged"
					>
						<v-icon>fa-plus</v-icon>
					</v-btn>
				</template>
				<v-card>
					<v-card-title>
						<span class="headline">User registration</span>
					</v-card-title>
					<v-card-text>
						<v-container>
							<v-row>
								<v-col cols="12" sm="6" md="4">
									<v-text-field
										v-model="firstname"
										:rules="[rules.required]"
										label="Legal first name*"
										required
									></v-text-field>
								</v-col>
								<v-col cols="12" sm="6" md="4">
									<v-text-field
										v-model="middlename"
										label="Legal middle name"
										hint="example of helper text only on focus"
									></v-text-field>
								</v-col>
								<v-col cols="12" sm="6" md="4">
									<v-text-field
										v-model="lastname"
										label="Legal last name*"
										:rules="[rules.required]"
										hint="example of persistent helper text"
										persistent-hint
										required
									></v-text-field>
								</v-col>
								<v-col cols="12">
									<v-text-field
										v-model="email"
										label="Email*"
										:rules="[rules.email, rules.required]"
										required
									></v-text-field>
								</v-col>
								<v-col cols="12">
									<v-text-field
										v-model="firstpassword"
										:append-icon="showpass ? 'fa-eye' : 'fa-eye-slash'"
										:rules="[rules.required, rules.min, rules.passRegex]"
										maxlength="12"
										counter="12"
										label="Password*"
										:type="showpass ? 'text' : 'password'"
										required
										@click:append="showpass = !showpass"
									></v-text-field>
								</v-col>
								<v-col cols="12">
									<v-text-field
										v-model="repeatpassword"
										:append-icon="showrepeat ? 'fa-eye' : 'fa-eye-slash'"
										label="Repeat password*"
										:rules="[rules.required]"
										:error="showhint"
										:error-messages="hint"
										:type="showrepeat ? 'text' : 'password'"
										required
										@click:append="showrepeat = !showrepeat"
									></v-text-field>
								</v-col>
							</v-row>
						</v-container>
						<small>*indicates required field</small>
					</v-card-text>
					<v-card-actions>
						<v-spacer></v-spacer>
						<v-btn color="blue darken-1" text @click="dialog = false"> Close </v-btn>
						<v-btn
							color="blue darken-1"
							text
							@click="save"
							:disabled="enableBtn"
							:loading="loadingBtn"
						>
							Save
						</v-btn>
					</v-card-actions>
				</v-card>
			</v-dialog>
		</v-row>
	</v-form>
</template>

<script lang="ts">
import Vue from 'vue';
import Component from 'vue-class-component';
import { UserData } from '@/models';
import {
	getterTypes as userDataGetterTypes,
	//mutationTypes as userDataMutationTypes,
	actionTypes as userDataActionTypes,
} from '@/store/UserData/types';
import { namespace, Action, Getter } from 'vuex-class';
import { moduleTypes } from '@/store/types';
import FirebaseService from '@/services/FireBase';
import { isEqual } from 'lodash';
import { Watch } from 'vue-property-decorator';

const userNamespace = namespace(moduleTypes.USERDATA);

@Component({
	components: {},
})
export default class RegistrationForm extends Vue {
	@userNamespace.Action(userDataActionTypes.REGISTRATIONUSER) registerUser: (
		user: UserData
	) => Promise<any>;
	@userNamespace.Getter(userDataGetterTypes.ISLOGED) loged: boolean;
	firstname = '';
	middlename = '';
	lastname = '';
	email = '';
	firstpassword = '';
	repeatpassword = '';
	dialog = false;
	valid = false;
	showhint = false;
	enableBtn = true;
	loadingBtn = false;
	showpass = false;
	showrepeat = false;
	hint = '';
	rules = {
		required: (value: string) => !!value || 'Required.',
		min: (v: string) => v.length >= 8 || 'Min 8 characters',
		//min: (v: string) => v.length >= 8 || v.length < 12 || 'Min 8 and max 12 characters', Není funkční, příliš nebo ...
		max: (va: string) => va.length < 12 || 'Max 12 character',
		passRegex: (value: string) => {
			const pattern = /^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[@$!%*?&])[A-Za-z\d@$!%*?&]{8,}$/;
			return (
				pattern.test(value) ||
				'Required: Minimum eight characters, at least one uppercase letter, one lowercase letter, one number and one special character'
			);
		},
		email: (value: string) => {
			const pattern = /^(([^<>()[\]\\.,;:\s@"]+(\.[^<>()[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
			return pattern.test(value) || 'Invalid e-mail.';
		},
		//repPass: () => isEqual(this.repeatpassword, this.firstpassword) || 'Password not same', Nefunkční, interní důvody nesděleny VUE
	};

	async save() {
		if ((this.$refs.formRegs as Vue & { validate: () => boolean }).validate()) {
			this.loadingBtn = true;
			const registrationData: UserData = new UserData({
				firstname: this.firstname,
				middlename: this.middlename,
				lastname: this.lastname,
				email: this.email,
				password: this.firstpassword,
			});
			await this.registerUser(registrationData)
				.then(() => {
					this.loadingBtn = false;
					this.dialog = false;
				})
				.catch((error) => {
					console.error(error);
				});
		}
	}

	@Watch('repeatpassword')
	onRepeatpasswordchange() {
		if (this.repeatpassword !== '') {
			if (this.firstpassword === this.repeatpassword) {
				this.showhint = false;
				this.hint = '';
				this.enableBtn = false;
			} else {
				//this.loginLoader = false;
				this.showhint = true;
				this.hint = 'Heslá sa nezhodujú';
			}
		}
	}

	//mounted() {}
}
</script>
