<template>
	<v-app>
		<v-app-bar app color="warning"></v-app-bar>
		<v-navigation-drawer permanent app>
			<v-list>
				<v-list-item class="px-2">
					<v-list-item-avatar>
						<v-img>Fotka</v-img>
					</v-list-item-avatar>
				</v-list-item>

				<v-list-item link>
					<v-list-item-content>
						<v-list-item-title class="title"> Name </v-list-item-title>
						<v-list-item-subtitle>Email</v-list-item-subtitle>
					</v-list-item-content>
				</v-list-item>
			</v-list>

			<v-divider></v-divider>

			<v-list nav dense>
				<v-list-item
					link
					v-for="(menu, index) in menik"
					:key="index"
					:to="menu.path"
					color="primary"
				>
					<v-list-item-icon>
						<v-icon v-if="menu.icon"> {{ menu.icon }} </v-icon>
						<v-icon v-else>fa-user</v-icon>
						<!-- <v-icon> {{ menu.icon !== undefined ? menu.icon : 'fa-user' }} </v-icon> -->
					</v-list-item-icon>
					<v-list-item-title class="blue--text">
						{{ menu.text }}
					</v-list-item-title>
				</v-list-item>
			</v-list>
		</v-navigation-drawer>
		<v-main>
			<router-view></router-view>
		</v-main>
		<registration-form />
		<login-form />
	</v-app>
</template>

<script lang="ts">
import Vue from 'vue';
import Component from 'vue-class-component';
import { getterTypes } from './store/types';
import { Menik } from './models';
import { Getter } from 'vuex-class';
import RegistrationForm from '@/components/RegistrationForm.vue';
import LoginForm from '@/components/LoginForm.vue';

@Component({
	components: {
		RegistrationForm,
		LoginForm,
	},
})
export default class App extends Vue {
	@Getter(getterTypes.MENUS) menik: Menik[];
}
</script>
