<template>
	<div></div>
</template>

<script lang="ts">
import Vue from 'vue';
import Component from 'vue-class-component';

@Component({
	components: {},
})
export default class CHANGENAME extends Vue {}
// changename dle názvu componentu (velké první a další navazující slovo - ChangeName)
</script>
